<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>A</key>
		<integer>10</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>A.ss02</key>
	<dict>
		<key>A</key>
		<integer>10</integer>
		<key>C</key>
		<integer>-30</integer>
		<key>G</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-55</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-5</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>q</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-35</integer>
		<key>y</key>
		<integer>-35</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>B.ss02</key>
	<dict>
		<key>A</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-5</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>C.ss02</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>V</key>
		<integer>-11</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>f</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>q</key>
		<integer>-10</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>-10</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>A</key>
		<integer>5</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>A</key>
		<integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>G</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>i</key>
		<integer>-5</integer>
		<key>l</key>
		<integer>0</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>public.kern2.n</key>
		<integer>-10</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>u</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-40</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>O</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-80</integer>
		<key>U</key>
		<integer>-5</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>Y</key>
		<integer>-30</integer>
		<key>f</key>
		<integer>-5</integer>
		<key>s</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-40</integer>
		<key>e</key>
		<integer>-40</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-40</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-40</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>P.ss02</key>
	<dict>
		<key>A</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>p</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-2</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>O</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>S</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-55</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-80</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-20</integer>
		<key>l</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-80</integer>
		<key>t</key>
		<integer>-80</integer>
		<key>u</key>
		<integer>-80</integer>
		<key>w</key>
		<integer>-80</integer>
		<key>y</key>
		<integer>-80</integer>
		<key>z</key>
		<integer>-80</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>A</key>
		<integer>-5</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-70</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-27</integer>
		<key>a</key>
		<integer>-35</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>r</key>
		<integer>-10</integer>
	</dict>
	<key>W.ss02</key>
	<dict>
		<key>A</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-35</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>r</key>
		<integer>-10</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>O</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-80</integer>
		<key>c</key>
		<integer>-80</integer>
		<key>d</key>
		<integer>-80</integer>
		<key>e</key>
		<integer>-80</integer>
		<key>g</key>
		<integer>-80</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-80</integer>
		<key>p</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-80</integer>
		<key>r</key>
		<integer>-30</integer>
		<key>s</key>
		<integer>-50</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-60</integer>
		<key>v</key>
		<integer>-30</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-17</integer>
		<key>y</key>
		<integer>-5</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>a</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-5</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>f</key>
		<integer>-20</integer>
		<key>i</key>
		<integer>-30</integer>
		<key>l</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>f.ss02</key>
	<dict>
		<key>i</key>
		<integer>-15</integer>
		<key>l</key>
		<integer>-15</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>e</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>Y</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-5</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>period</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-5</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>public.kern1.Z</key>
	<dict>
		<key>U</key>
		<integer>-5</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>e</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-30</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-30</integer>
		<key>y</key>
		<integer>-30</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>t</key>
		<integer>10</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>a</key>
		<integer>-15</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
		<key>period</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-20</integer>
	</dict>
	<key>underscore</key>
	<dict>
		<key>o</key>
		<integer>-40</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-10</integer>
		<key>o</key>
		<integer>-10</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
		<key>e</key>
		<integer>-15</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>r</key>
		<integer>-5</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>e</key>
		<integer>-10</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>e</key>
		<integer>-5</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>z</key>
		<integer>-20</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>a</key>
		<integer>-20</integer>
	</dict>
</dict>
</plist>
