<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<string>A_.glif</string>
	<key>AE</key>
	<string>A_E_.glif</string>
	<key>B</key>
	<string>B_.glif</string>
	<key>B.ss01</key>
	<string>B_.ss01.glif</string>
	<key>C</key>
	<string>C_.glif</string>
	<key>D</key>
	<string>D_.glif</string>
	<key>E</key>
	<string>E_.glif</string>
	<key>E.ss02</key>
	<string>E_.ss02.glif</string>
	<key>G</key>
	<string>G_.glif</string>
	<key>G.ss01</key>
	<string>G_.ss01.glif</string>
	<key>Germandbls</key>
	<string>G_ermandbls.glif</string>
	<key>Germandbls.ss02</key>
	<string>G_ermandbls.ss02.glif</string>
	<key>Germandbls.ss03</key>
	<string>G_ermandbls.ss03.glif</string>
	<key>Germandbls.ss04</key>
	<string>G_ermandbls.ss04.glif</string>
	<key>H</key>
	<string>H_.glif</string>
	<key>H.ss01</key>
	<string>H_.ss01.glif</string>
	<key>IJ.001</key>
	<string>I_J_.001.glif</string>
	<key>J</key>
	<string>J_.glif</string>
	<key>K</key>
	<string>K_.glif</string>
	<key>L</key>
	<string>L_.glif</string>
	<key>L.ss01</key>
	<string>L_.ss01.glif</string>
	<key>Ldot</key>
	<string>L_dot.glif</string>
	<key>M</key>
	<string>M_.glif</string>
	<key>M.ss01</key>
	<string>M_.ss01.glif</string>
	<key>N</key>
	<string>N_.glif</string>
	<key>O</key>
	<string>O_.glif</string>
	<key>O.ss01</key>
	<string>O_.ss01.glif</string>
	<key>Omega</key>
	<string>O_mega.glif</string>
	<key>P</key>
	<string>P_.glif</string>
	<key>R</key>
	<string>R_.glif</string>
	<key>R.ss01</key>
	<string>R_.ss01.glif</string>
	<key>S</key>
	<string>S_.glif</string>
	<key>S.ss01</key>
	<string>S_.ss01.glif</string>
	<key>Schwa</key>
	<string>S_chwa.glif</string>
	<key>T</key>
	<string>T_.glif</string>
	<key>U</key>
	<string>U_.glif</string>
	<key>Uhorn</key>
	<string>U_horn.glif</string>
	<key>V</key>
	<string>V_.glif</string>
	<key>W</key>
	<string>W_.glif</string>
	<key>X</key>
	<string>X_.glif</string>
	<key>Y</key>
	<string>Y_.glif</string>
	<key>Z</key>
	<string>Z_.glif</string>
	<key>a</key>
	<string>a.glif</string>
	<key>a.001</key>
	<string>a.001.glif</string>
	<key>a.002</key>
	<string>a.002.glif</string>
	<key>a.ss01</key>
	<string>a.ss01.glif</string>
	<key>acutecomb</key>
	<string>acutecomb.glif</string>
	<key>acutecomb.narrow</key>
	<string>acutecomb.narrow.glif</string>
	<key>ampersand</key>
	<string>ampersand.glif</string>
	<key>ampersand.ss06</key>
	<string>ampersand.ss06.glif</string>
	<key>aogonek</key>
	<string>aogonek.glif</string>
	<key>aogonek.001</key>
	<string>aogonek.001.glif</string>
	<key>approxequal</key>
	<string>approxequal.glif</string>
	<key>asterisk</key>
	<string>asterisk.glif</string>
	<key>braceleft</key>
	<string>braceleft.glif</string>
	<key>bracketleft</key>
	<string>bracketleft.glif</string>
	<key>brevecomb</key>
	<string>brevecomb.glif</string>
	<key>brevecomb.narrow</key>
	<string>brevecomb.narrow.glif</string>
	<key>caroncomb.alt</key>
	<string>caroncomb.alt.glif</string>
	<key>ccedilla</key>
	<string>ccedilla.glif</string>
	<key>cedillacomb</key>
	<string>cedillacomb.glif</string>
	<key>cent</key>
	<string>cent.glif</string>
	<key>circumflexcomb</key>
	<string>circumflexcomb.glif</string>
	<key>circumflexcomb.narrow</key>
	<string>circumflexcomb.narrow.glif</string>
	<key>colon</key>
	<string>colon.glif</string>
	<key>comma</key>
	<string>comma.glif</string>
	<key>dagger</key>
	<string>dagger.glif</string>
	<key>daggerdbl</key>
	<string>daggerdbl.glif</string>
	<key>daggerdbl.ss06</key>
	<string>daggerdbl.ss06.glif</string>
	<key>dieresiscomb</key>
	<string>dieresiscomb.glif</string>
	<key>dieresiscomb.narrow</key>
	<string>dieresiscomb.narrow.glif</string>
	<key>divide</key>
	<string>divide.glif</string>
	<key>dotaccentcomb</key>
	<string>dotaccentcomb.glif</string>
	<key>doubleprimemod</key>
	<string>doubleprimemod.glif</string>
	<key>eogonek</key>
	<string>eogonek.glif</string>
	<key>eogonek.001</key>
	<string>eogonek.001.glif</string>
	<key>eth</key>
	<string>eth.glif</string>
	<key>exclam</key>
	<string>exclam.glif</string>
	<key>exclamdown</key>
	<string>exclamdown.glif</string>
	<key>f</key>
	<string>f.glif</string>
	<key>f.ss02</key>
	<string>f.ss02.glif</string>
	<key>five</key>
	<string>five.glif</string>
	<key>florin</key>
	<string>florin.glif</string>
	<key>four</key>
	<string>four.glif</string>
	<key>g</key>
	<string>g.glif</string>
	<key>g.001</key>
	<string>g.001.glif</string>
	<key>germandbls</key>
	<string>germandbls.glif</string>
	<key>germandbls.ss03</key>
	<string>germandbls.ss03.glif</string>
	<key>gravecomb</key>
	<string>gravecomb.glif</string>
	<key>gravecomb.narrow</key>
	<string>gravecomb.narrow.glif</string>
	<key>greater</key>
	<string>greater.glif</string>
	<key>hookabovecomb</key>
	<string>hookabovecomb.glif</string>
	<key>horncomb</key>
	<string>horncomb.glif</string>
	<key>hungarumlautcomb</key>
	<string>hungarumlautcomb.glif</string>
	<key>i</key>
	<string>i.glif</string>
	<key>integral</key>
	<string>integral.glif</string>
	<key>iogonek</key>
	<string>iogonek.glif</string>
	<key>iogonek.001</key>
	<string>iogonek.001.glif</string>
	<key>j</key>
	<string>j.glif</string>
	<key>j.ss02</key>
	<string>j.ss02.glif</string>
	<key>kgreenlandic</key>
	<string>kgreenlandic.glif</string>
	<key>less</key>
	<string>less.glif</string>
	<key>lessequal</key>
	<string>lessequal.glif</string>
	<key>lozenge</key>
	<string>lozenge.glif</string>
	<key>m</key>
	<string>m.glif</string>
	<key>minute</key>
	<string>minute.glif</string>
	<key>n</key>
	<string>n.glif</string>
	<key>nine</key>
	<string>nine.glif</string>
	<key>ogonekcomb</key>
	<string>ogonekcomb.glif</string>
	<key>ohorn</key>
	<string>ohorn.glif</string>
	<key>one</key>
	<string>one.glif</string>
	<key>one.tf</key>
	<string>one.tf.glif</string>
	<key>oogonek</key>
	<string>oogonek.glif</string>
	<key>oogonek.001</key>
	<string>oogonek.001.glif</string>
	<key>parenleft</key>
	<string>parenleft.glif</string>
	<key>percent</key>
	<string>percent.glif</string>
	<key>percent.ss06</key>
	<string>percent.ss06.glif</string>
	<key>period</key>
	<string>period.glif</string>
	<key>plusminus</key>
	<string>plusminus.glif</string>
	<key>primemod</key>
	<string>primemod.glif</string>
	<key>question</key>
	<string>question.glif</string>
	<key>questiondown</key>
	<string>questiondown.glif</string>
	<key>quotedbl</key>
	<string>quotedbl.glif</string>
	<key>quotedblright</key>
	<string>quotedblright.glif</string>
	<key>quoteleft</key>
	<string>quoteleft.glif</string>
	<key>quoteright</key>
	<string>quoteright.glif</string>
	<key>r</key>
	<string>r.glif</string>
	<key>radical</key>
	<string>radical.glif</string>
	<key>registered</key>
	<string>registered.glif</string>
	<key>registered.ss06</key>
	<string>registered.ss06.glif</string>
	<key>ringcomb</key>
	<string>ringcomb.glif</string>
	<key>s</key>
	<string>s.glif</string>
	<key>semicolon</key>
	<string>semicolon.glif</string>
	<key>seven</key>
	<string>seven.glif</string>
	<key>six</key>
	<string>six.glif</string>
	<key>thorn</key>
	<string>thorn.glif</string>
	<key>three</key>
	<string>three.glif</string>
	<key>tilde</key>
	<string>tilde.glif</string>
	<key>tildecomb</key>
	<string>tildecomb.glif</string>
	<key>tildecomb.loclVIT</key>
	<string>tildecomb.loclV_I_T_.glif</string>
	<key>tildecomb.narrow</key>
	<string>tildecomb.narrow.glif</string>
	<key>two</key>
	<string>two.glif</string>
	<key>uhorn</key>
	<string>uhorn.glif</string>
	<key>w</key>
	<string>w.glif</string>
	<key>zero</key>
	<string>zero.glif</string>
	<key>zero.dnom</key>
	<string>zero.dnom.glif</string>
</dict>
</plist>
